<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleExecutable</key><string>Glance</string>
    <key>CFBundleIconFile</key><string>Glance</string>
    <key>CFBundleIdentifier</key><string>app.glance.Glance</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>Glance</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.3.0</string>
    <key>CFBundleVersion</key><string>14</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSUIElement</key><true/>
    <key>NSHumanReadableCopyright</key><string>Copyright © 2026 Anthony Chadwick</string>
    <key>SUFeedURL</key><string>https://github.com/atchad/glance/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key><string>o/7WsB4dDwsPPZkBuDolb/ITL+ww9Cg+zyB34fDmOjM=</string>
    <key>SUEnableAutomaticChecks</key><true/>
    <key>SURequireSignedFeed</key><true/>
    <key>SUVerifyUpdateBeforeExtraction</key><true/>
</dict>
</plist>
